body {
    background: #ddd;
	color: #3e3e3e;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
}

h1.pop-up span:first-child {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
h1.pop-up span:nth-child(2) {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 50ms both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 50ms both;
}
h1.pop-up span:nth-child(3) {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 100ms both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 100ms both;
}
h1.pop-up span:nth-child(4) {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 150ms both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 150ms both;
}
h1.pop-up span:nth-child(5) {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both;
}
h1.pop-up span:nth-child(6) {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 250ms both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 250ms both;
}
h1.pop-up span:nth-child(7) {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 300ms both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 300ms both;
}
h1.pop-up span:nth-child(8) {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 350ms both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 350ms both;
}
h1.pop-up span:nth-child(9) {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 400ms both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 400ms both;
}
h1.pop-up span:nth-child(10) {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 450ms both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 450ms both;
}
h1.pop-up span:nth-child(11) {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms both;
}
h1.pop-up span:nth-child(12) {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 550ms both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 550ms both;
}
h1.pop-up {
    color: #fff;
    font: bold 125px/1 "Raleway";
    text-align: center;
    text-transform: uppercase;
}

.rise {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 550ms both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 550ms both;
}

.subrow {
display: flex; 
flex-direction: row;
margin: 7rem 0 0;	
}

.swing:hover {
	-webkit-animation: swing-bottom-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: swing-bottom-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.card {
    backface-visibility: hidden;
	display: none;
	height: 7rem;
	margin: 0.5rem;
    transform-style: preserve-3d;
    width: 100%;
}
.card:first-child {
	margin-left: 0;
}
.card:last-child {
	margin-right: 0;
}

.front {
    background: #2dccb8 none repeat scroll 0 0;
    z-index: 20;
}
.topblue {
	background: #6184d8;
	
}
.subblue {
	background: #8da4d9;
}
.toplgreen {
	background: #50c5b7;
}
.sublgreen {
	background: #78c4bb;
}
.topgreen {
	background: #9cec5b;
}
.subgreen {
	background: #a5ed6b;
}
.topyellow {
	background: #f0f465;
}
.subyellow {
	background: #eff538;
}
.toppurp {
	background: #533a71;
}
.subpurp {
	background: #5e5070;
}
.face {
    backface-visibility: hidden;
    border-radius: 10px;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}
.text {
    color: #fff;
    display: inline-block;
    font-size: 18px;
	font-weight: bold;
	padding: 2.8rem 0 0;
    text-align: center;
	text-shadow: 0 0 10px #555;
	text-transform: uppercase;
}
.subtext {
    color: #fff;
    display: inline;
    font-size: 16px;
	line-height: 1.1;
    text-align: center;
}


#stage {
    -moz-box-align: center;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    align-items: center;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    left: 0;
    margin: 0;
    padding: 0;
    perspective: 500px;
    perspective-origin: calc(50% + 120px) 50%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 900;
}
.wrap {
	position: relative;
	width: 100%;
}
.intwrap {
	margin: 0 0 0 5%;
	position: relative;
	width: 62%;
}
.box {
background: #fff;
border: 1px solid #333;
border-radius: 10px;
box-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
color: #333;
display: block;
font-family: "Raleway";
font-size: 20px;
margin: 0 auto;
padding: 2rem;
text-align: center;
width: 17rem;	
}
#subbox, #card {
display: none;
font-size: 32px;
}
.bounce {
	display: block !important;
	-webkit-animation: bounce-in-top 0.5s 1000ms both;
	        animation: bounce-in-top 0.5s 1000ms both;
}
#cardeight.bounce {
	-webkit-animation: bounce-in-top 0.8s 2000ms both;
	        animation: bounce-in-top 0.8s 2000ms both;
}
#cardten.bounce {
	-webkit-animation: bounce-in-top 0.8s 2750ms both;
	        animation: bounce-in-top 0.8s 2750ms both;
}
#cardthirteen.bounce {
	-webkit-animation: bounce-in-top 0.8s 3750ms both;
	        animation: bounce-in-top 0.8s 3750ms both;
}
.swingin {
	display: block !important;
	-webkit-animation: swing-in-top-bck 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 150ms both;
	        animation: swing-in-top-bck 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 150ms both;
}
.swingleft {
	display: block !important;
	-webkit-animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 250ms both;
	        animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 250ms both;
}
#cardtwo.swingleft {
	-webkit-animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 450ms both;
	        animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 450ms both;
}
#cardthree.swingleft {
	-webkit-animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 650ms both;
	        animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 650ms both;
}
#cardfour.swingleft {
	-webkit-animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 850ms both;
	        animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 850ms both;
}

#cardsix.swingleft {
	-webkit-animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1600ms both;
	        animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1600ms both;
}
#cardseven.swingleft {
	-webkit-animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1850ms both;
	        animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1850ms both;
}

#cardnine.swingleft {
	-webkit-animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 2600ms both;
	        animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 2600ms both;
}

#cardeleven.swingleft {
	-webkit-animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 3350ms both;
	        animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 3350ms both;
}
#cardtwelve.swingleft {
	-webkit-animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 3600ms both;
	        animation: swing-in-left-fwd 1.1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 3600ms both;
}


.wobble {
	display: block !important;
	height: 1rem;
	margin: 0 auto;
	width: 1rem;
	-webkit-animation: wobble-hor-top 1.2s infinite both;
	        animation: wobble-hor-top 1.2s infinite both;
}

#sidebar {
	background: #fff;
	border-top: 4px solid #533a71;
	border-left: 4px solid #533a71;
	border-bottom: 4px solid #533a71;
	border-radius: 10px 0 0 10px;
	height: 80%;
	padding: 1rem;
	position: fixed;
	right: 0;
	top: 5%;
	width: 27%;
}
#sidebar.blue {
border-color: #6184d8;	
}
h3 {
background: #533a71;
color: #fff;
font-size: 24px;
font-weight: normal;
margin: -1rem -1rem 1rem -1rem;
padding: 0.8rem;
text-transform: uppercase;	
}
h3.blue, #title.blue {
background: #6184d8;
}	
h2 {
	font-family: "Bitter", serif;
	font-size: 28px;
	font-weight: bold;
	line-height: 1;
	margin: 0 0 1rem;
}
#title { 
color: #fff;
width: 95%; 
-webkit-transform: skew(20deg); 
-moz-transform: skew(20deg); 
-o-transform: skew(20deg); 
background: #5e5070; 
padding: 0.8rem 1.5rem 0.2rem;
margin-left: -1.5rem;
}
#title h2 { 
-webkit-transform: skew(-20deg); 
-moz-transform: skew(-20deg); 
-o-transform: skew(-20deg);
}
.blue a {
color: #6184d8;
}	


.alignright {
	float: right;
	margin: 1rem;
}

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

/**
 * ----------------------------------------
 * animation swing-bottom-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-bottom-fwd {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}
@keyframes swing-bottom-fwd {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2017-7-19 12:43:25
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2017-7-19 12:58:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-bck
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2017-7-19 13:26:29
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-left-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2017-7-20 15:29:26
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-top
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}
@keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}

/************************MEDIA QUERIES*********************/
@media (min-width: 1200px) {
	
	
}
@media (max-width: 1024px) {
	
	
}
@media (max-width: 959px) {
	
	
	
}
@media (max-width: 767px) {
	#sidebar {
		position: relative;
		border-right: 2px solid;
		border-radius: 10px;
		margin: 0 auto 6rem;
		width: 89%;
	}
	.intwrap {
		width: 94%;
	}
	.intwrap img {
		max-width: 100%;
	}
	#stage {
		position: relative;
	}
	
}

@media screen and (max-width: 320px) {
	
	

} 